#produto-carrinho {
  height: 100%;
  width: 70%;
  margin-top: 70px;
  margin-bottom: 250px;
}

#main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

#payment-total {
  width: 30%;
  background-color: #f22b00;
  padding-top: 70px;
}

.form-payment {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-cart {
  align-items: center;
  height: 150px;
  justify-content: space-around;
  display: flex;
  width: 60%;
  background-color: #f7f4f3;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid rgb(188, 188, 188);
}

.photo {
  width: 150px;
  height: 150px;
  mix-blend-mode: multiply;
}

.payment {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  width: 190px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: green;
  height: 30px;
  text-decoration: none;
  border: 0;
  font-family: "Open Sans";
  font-weight: bold;
}

.payment:hover {
  background: rgb(16, 163, 16);
}

.button2 {
  margin-bottom: 15px;
  margin-top: 20px;
  display: flex;
}

#produto-nome {
  color: #000000;
  font-size: 19px;
  font-family: "Roboto";
}

.none {
  text-decoration: none;
}

#produto-preco {
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 19px;
}

.checkout {
  width: 70%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  background: #f7f4f3;
  border-radius: 7px;
  font-family: "Open Sans";
}

input {
  box-sizing: border-box;
}

.checkout-input {
  height: 32px;
  color: black;
  background: white;
  border: 1px solid;
  border-radius: 4px;
  font-family: "Open Sans";
}

.checkout-name {
  width: 180px;
}

.checkout-title {
  font-family: "Open Sans";
  font-size: 23px;
}

.checkout-card {
  width: 210px;
}

.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 51px;
  text-align: center;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  font-weight: bold;
  color: white;
  border: 1px solid;
  background: black;
  border-radius: 5px;
  font-family: "Open Sans";
  cursor: pointer;
  text-transform: uppercase;
}

.entrega,
.total {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.address,
.total2 {
  font-size: 18px;
}

.btn-remove {
  display: flex;
  justify-content: center;
}

.btn-remove1 {
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  width: 220px;
  border: 0;
  color: white;
  background-color: rgb(188, 188, 188);
  font-family: "Open Sans";
  border-radius: 5px;
  font-weight: bold;
}

.btn-remove1:hover {
  background-color: rgb(188, 188, 188);
  color: black;
}

.not-product {
  width: 100%;
  margin: auto;
  font-family: "Open Sans";
  font-size: 17px;
}

.content-not-product {
  max-width: 284px;
  padding: 10px;
  color: black;
  height: 30px;
  border-radius: 5px;
  background-color: #f7f4f3;
}
