@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

#produto-carrinho {
  height: 800px;
  margin-top: 70px;
}

#home {
  text-decoration: none;
  color: black;
}

.product {
  align-items: center;
  height: 150px;
  justify-content: space-around;
  display: flex;
  width: 60%;
  color: black;
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(188, 188, 188);
}

.photo {
  width: 150px;
  border-radius: 10px;
  height: 150px;
}

.payment {
  border-radius: 5px;
  width: 150px;
  color: rgb(255, 255, 255);
  margin: auto;
  background-color: green;
  padding: 7px 40px;
  display: flex;
}

.payment:hover {
  background-color: rgb(255, 255, 255);
  color: green;
}

.button2 {
  margin-top: 6px;
}

#produto-nome {
  color: #000000;
  font-size: 19px;
}

#produto-preco {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 19px;
}
