#type {
  font-family: "Open Sans";
  margin: 5px;
}

.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.input-email {
  outline: 0;
  width: 309px;
  height: 48px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
}

.btn-email2 {
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: green;
  width: 309px;
  height: 48px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Open Sans";
}

.btn-email2:hover {
  background: rgb(16, 163, 16);
}

.btn-email {
  margin: 10px;
}
