@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-VariableFont_wdth_wght.ttf);
}

body {
  background-color: #ffffff;
  margin: 0px;
  width: 100%;
}
.title {
  text-decoration: none;
  font-family: "Open sans";
  color: #fff;
}

.productName {
  text-decoration: none;
  color: black;
}

#topo {
  width: 100%;
  height: 40px;
  background-color: #b02b0e;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  background-color: #f22b00;
  justify-content: space-around;
}

#menu-content {
  background-color: #f7f4f3;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Open Sans";
}

#home {
  text-decoration: none;
}

section {
  max-width: 1000px;
  flex-wrap: wrap;
  background-color: #f7f4f3;
  border-radius: 10px;
  margin: 100px auto;
  padding: 22px;
  display: flex;
  justify-content: space-around;
}

#divBusca {
  padding: 0px;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  height: 35px;
  width: 50%;
}

#txtBusca {
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 78%;
  font-family: "Open Sans";
}

#btnBusca {
  border: none;
  float: right;
  height: 35px;
  border-radius: 0 7px 7px 0;
  width: 20%;
  background: black;
  color: white;
  font-weight: bold;
  font-family: "Open Sans";
  cursor: pointer;
}

#divBusca img {
  float: left;
}

.image {
  margin-top: 5px;
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.tenis-content {
  width: 235px;
  margin: 0.6rem;
  display: flex;
  flex-direction: column;
  background-color: #f7f4f3;
  font-size: 17px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.genero {
  color: black;
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: bold;
}

.frete {
  color: #2ae559;
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans";
}

.parcelas {
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans";
}

.price {
  font-weight: bold;
  font-family: "Open Sans";
}

.tenis-content:hover {
  background-color: #f22b00;
}

.align {
  font-size: large;
}

#cart-icon {
  margin: 10px;
  height: 30px;
  width: 30px;
}

#login-icon {
  margin: 10px;
  height: 30px;
  width: 30px;
}

p {
  margin: 0 0 5px;
  text-align: left;
}

@media (min-width: 768px) {
  .fi {
    max-width: 720;
  }
}

.f1 {
  display: flex;
  height: 200px;
  background-color: #b02b0e;
  align-items: center;
  justify-content: center;
}

.list-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.txt-center {
  font-family: "Open Sans";
  color: white;
  text-align: center !important;
  margin: auto;
}

.nav-item {
  font-family: "Open Sans";
  color: white;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.f {
  text-decoration: none;
}
