#h1-login {
  font-family: "Open Sans";
}

#topo {
  width: 100%;
  height: 40px;
  background-color: #b02b0e;
}

.form {
  display: flex;
  flex-direction: column;
}

.remember {
  padding-top: 8px;
  color: rgb(112, 112, 112);
  margin: 5px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.login-user-input {
  outline: 0;
  width: 309px;
  height: 48px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
}

.login-password-input {
  outline: 0;
  width: 309px;
  height: 48px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
}

.forgot-password {
  color: rgb(112, 112, 112);
  font-family: "Open Sans";
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}

#line {
  width: 309px;
  height: 1px;
  background-color: rgb(112, 112, 112);
}

.button3 {
  margin-bottom: 15px;
  margin-top: 20px;
  display: flex;
}

.login-btn {
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: green;
  width: 309px;
  height: 54px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
}

.login-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(112, 112, 112);
  border: 1px solid rgb(112, 112, 112);
}

.create-account-btn {
  border-radius: 5px;
  background-color: white;
  width: 309px;
  height: 54px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
  font-family: "Open Sans";
  font-weight: bold;
}

.create-account-btn:hover {
  background-color: green;
  color: rgb(255, 255, 255);
}

#home {
  text-decoration: none;
  color: black;
}

#all-content {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

#section-form {
  background-color: #f7f4f3;
  width: 35%;
  height: 80vh;
  padding: 25px;
  border-radius: 25px;
}

#formulario {
  display: flex;
  flex-direction: column;
}

#user-view {
  background-color: #f7f4f3;
  width: 35%;
  height: 80vh;
  padding: 25px;
  border-radius: 25px;
}

label {
  display: flex;
  color: black;
  flex-direction: column;
}

.button {
  width: 50%;
  margin-top: 20px;
}

.input_text {
  margin-bottom: 20px;
  border-radius: 5px;
  height: 25px;
  border-style: none;
  outline: 0;
}

span {
  font-family: "Open Sans";
  font-weight: bold;
}

.update {
  height: 25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  border: 0;
  color: white;
  background-color: rgb(204, 3, 3);
  font-family: "Open Sans";
  border-radius: 5px;
  font-weight: bold;
}

.update:hover {
  background: red;
}

.pad {
  padding-top: 14px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  color: #999;
  cursor: pointer;
}
