.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  background-color: #f7f4f3;
  border-radius: 10px;
  margin: 100px auto;
  padding: 22px;
}

.btn-account {
  display: flex;
  flex-direction: column;
}

.font {
  font-family: "Open Sans";
  font-size: 19px;
  margin: 0;
  text-transform: capitalize;
}

.font1 {
  font-family: "Open Sans";
  font-size: 19px;
  margin: 0;
}

.btn-order {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  width: 115px;
  color: rgb(255, 255, 255);
  background-color: green;
  height: 30px;
  border: 0;
  font-family: "Open Sans";
  font-weight: bold;
  margin: 5px;
}

.btn-order:hover {
  background: rgb(16, 163, 16);
}

.btn-account2 {
  border-radius: 5px;
  background-color: white;
  width: 115px;
  height: 30px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
  font-family: "Open Sans";
  margin: 5px;
}

.btn-account2:hover {
  background-color: white;
  color: black;
}

.space {
  height: 60vh;
}
