#pedidos {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pedidos2 {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 50%;
  background-color: #f7f4f3;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid rgb(188, 188, 188);
  font-family: "Open Sans";
  padding: 5px 0px 5px 0px;
}

.img-pedidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
}

.img2 {
  width: 80px;
  height: 90px;
  mix-blend-mode: multiply;
  margin: 5px;
}

.h1 {
  margin: 0;
}

.p {
  font-size: 18px;
}

.aleatorio {
  font-weight: bold;
}
