#home {
  text-decoration: none;
}
main {
  max-width: 500px;
  background-color: #f7f4f3;
  border-radius: 10px;
  margin: 100px auto;
  padding: 22px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin: auto;
  height: 350px;
  width: 350px;
}

.preço {
  font-family: "Open Sans";
  font-weight: bolder;
  margin: 5px;
}

.descricao {
  font-size: 100%;
  font-family: "Open Sans";
  margin: 20px;
}

.name {
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Roboto";
  font-weight: bold;
  margin: 5px;
}

.press {
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  width: 190px;
  border: 0;
  color: white;
  background-color: rgb(204, 3, 3);
  font-family: "Open Sans";
  border-radius: 5px;
  font-weight: bold;
}

.press:hover {
  background-color: red;
}
